nav, .btn {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }

.fsite-navbar {
  background-color: #17a2b8;
  color: #fff;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100%;
  z-index: 1; }
  @media only screen and (min-width: 768px) {
    .fsite-navbar {
      flex-flow: row nowrap; } }
  .fsite-navbar > .container {
    display: flex;
    justify-content: space-between; }
  .fsite-navbar .fsite-navbar-brand {
    display: inline-block;
    cursor: pointer;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap; }
    .fsite-navbar .fsite-navbar-brand:hover, .fsite-navbar .fsite-navbar-brand:focus {
      text-decoration: none; }
  .fsite-navbar button.fsite-navbar-toggler {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    display: inline-block;
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    float: right; }
    @media only screen and (min-width: 768px) {
      .fsite-navbar button.fsite-navbar-toggler {
        display: none; } }
    .fsite-navbar button.fsite-navbar-toggler:focus {
      outline: 0; }
    .fsite-navbar button.fsite-navbar-toggler:not(:disabled):not(.disabled) {
      cursor: pointer; }
    .fsite-navbar button.fsite-navbar-toggler.toggled {
      outline-color: rgba(255, 255, 255, 0.3);
      outline-style: auto;
      outline-width: 5px; }
    .fsite-navbar button.fsite-navbar-toggler .fsite-navbar-toggler-icon {
      background: no-repeat center center;
      background-size: 100% 100%;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;
      content: ""; }
  .fsite-navbar .fsite-navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end !important; }
    @media only screen and (min-width: 768px) {
      .fsite-navbar .fsite-navbar-collapse {
        display: flex !important; } }
    .fsite-navbar .fsite-navbar-collapse:not(.show) {
      display: none; }
    .fsite-navbar .fsite-navbar-collapse .fsite-navbar-nav {
      display: flex;
      flex-direction: column;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none; }
      @media only screen and (min-width: 768px) {
        .fsite-navbar .fsite-navbar-collapse .fsite-navbar-nav {
          flex-direction: row; } }
      .fsite-navbar .fsite-navbar-collapse .fsite-navbar-nav a {
        color: rgba(255, 255, 255, 0.6);
        display: block;
        padding: 0.5rem 1rem;
        padding-right: 0;
        padding-left: 0; }
        @media only screen and (min-width: 768px) {
          .fsite-navbar .fsite-navbar-collapse .fsite-navbar-nav a {
            padding-right: 0.5rem;
            padding-left: 0.5rem; } }
      .fsite-navbar .fsite-navbar-collapse .fsite-navbar-nav a.active {
        color: white; }
      .fsite-navbar .fsite-navbar-collapse .fsite-navbar-nav a.disabled {
        color: rgba(255, 255, 255, 0.3);
        pointer-events: none; }

.section {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5rem;
  margin-bottom: 3rem;
  background-color: rgba(0, 123, 255, 0.1); }
  .section > h1 {
    color: rgba(244, 67, 54, 0.9);
    font-size: 3.5rem;
    font-weight: 350;
    line-height: 1.2;
    padding-top: 2.5rem;
    margin-bottom: 1.5rem; }
  .section > h5 {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 1.25rem; }
  .section .action-btn {
    color: #fff;
    background-color: #28a745;
    display: inline-block;
    margin-bottom: 3rem; }
  .section .icon-block {
    background-color: rgba(0, 123, 255, 0.1); }
    .section .icon-block > h2 {
      padding-top: 2.5rem;
      margin-bottom: 1.5rem; }
    .section .icon-block > h5 {
      margin-bottom: 1.25rem; }
    .section .icon-block > p {
      text-align: left;
      padding-left: 1rem;
      padding-right: 1rem;
      line-height: 1.125; }
    .section .icon-block .material-icons {
      font-size: 3rem;
      color: #17a2b8; }

/*# sourceMappingURL=styles.css.map */
