@import "../sass-imports/respond-to.sass"

$color-nav-bg: #17a2b8
$color-nav-text: #fff
$color-nav-text-dark: #000
$color-nav-link: rgba(255,255,255,.8)
$color-nav-link-active: rgba(255,255,255,1)
$color-nav-link-disabled: rgba(255,255,255,.3)

$color-footer-bg: rgba(220, 53, 69, .65)

$color-cyan: #17a2b8
$color-light: #fff
$color-light-second: rgba(255, 255, 255, .8)

$color-btn: #28a745

$color-service-bg: rgba(0, 123, 255, .1)

nav, .btn
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)

p, a
  font-weight: 300

p
  text-align: left
  line-height: 1.125
  margin-left: .125rem

a:hover
  background-color: rgba(0,0,0,.05)
  font-weight: 400
  text-decoration: none

.fsite-navbar
  background-color: $color-nav-bg
  color: $color-nav-text
  position: relative
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between
  padding: 0.5rem 1rem
  width: 100%
  z-index: 1
  @include respond-to(md)
    flex-flow: row nowrap
  
  .fsite-navbar-content
    display: flex
    justify-content: space-between
    margin-top: unset
    margin-bottom: unset
    width: 90%
    margin-left: auto
    margin-right: auto

  .fsite-navbar-brand
    display: inline-block
    cursor: pointer
    padding-top: .3125rem
    padding-bottom: .3125rem
    margin-right: 1rem
    font-size: 1.25rem
    line-height: inherit
    white-space: nowrap
    
    &:hover, &:focus
      text-decoration: none

  button.fsite-navbar-toggler
    background-color: transparent
    border: 1px solid transparent
    border-radius: .25rem
    display: inline-block
    padding: .25rem .75rem
    font-size: 1.25rem
    line-height: 1
    float: right
    outline-color: rgba(255,255,255,0)
    transition-property: outline-color
    transition-duration: .5s
    @include respond-to(md)
      display: none
    
    &:focus
      outline-color: rgba(255,255,255,0)
    
    &:hover
      background-color: rgba(0, 0, 0, 0.1)
    
    &:not(:disabled):not(.disabled)
      cursor: pointer
    
    &.toggled
      outline-color: rgba(255,255,255,.3)
      outline-style: auto
      outline-width: 5px
    
    .fsite-navbar-toggler-icon
      background: no-repeat center center
      background-size: 100% 100%
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
      display: inline-block
      width: 1.5em
      height: 1.5em
      vertical-align: middle
      content: ""
  
  .fsite-navbar-collapse
    background-color: $color-light
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
    display: block
    position: fixed
    height: calc(100% + 60px)
    width: 300px
    left: 0
    top: 0
    padding-bottom: 60px
    z-index: 999
    overflow-y: auto
    will-change: transform
    backface-visibility: hidden
    transform: translateX(-105%)
    visibility: visible !important
    transition-property: all
    transition-duration: .5s
    @include respond-to(md)
      box-shadow: none
      display: flex!important
      flex-direction: row
      flex-basis: 100%
      flex-grow: 1
      align-items: center
      justify-content: flex-end!important
      // чтобы перекрыть дефолтные настройки
      position: static
      width: auto
      left: auto
      top: auto
      transform: none
      height: auto
      background-color: rgba(0, 0, 0, 0)
      padding-bottom: 0
      z-index: auto
      overflow-y: visible
      will-change: auto
      backface-visibility: visible

    &:not(.show)
      visibility: hidden
    
    &.show
      transform: translateX(0)

    .fsite-navbar-nav
      display: flex
      flex-direction: column
      padding-left: 0
      margin-bottom: 0
      list-style: none
      @include respond-to(md)
        flex-direction: row

      a
        color: $color-nav-text-dark
        display: block
        padding: 1rem 1rem
        // padding-right: 0
        // padding-left: 0
        @include respond-to(md)
          color: $color-nav-link
          padding: 0.5rem

        &:hover
          @include respond-to(md)
            color: $color-nav-link-active
            font-weight: 300

      a.active
        color: $color-nav-link-active

      a.disabled
        color: $color-nav-link-disabled
        pointer-events: none

.section
  width: 90%
  margin-left: auto
  margin-right: auto
  margin-top: 3.5rem
  margin-bottom: 3rem
  // служебный бэкграунд, облегчает верстку
  // background-color: $color-service-bg

  >h1
    color: rgba(244, 67, 54, .9)
    font-size: 3.5rem
    font-style: italic
    font-weight: 350
    line-height: 1.2
    padding-top: 2.5rem
    margin-bottom: 1.5rem

  >h5
    font-size: 1.25rem
    font-weight: 300
    margin-bottom: 1.25rem
  
  .action-btn
    color: $color-light
    background-color: $color-btn
    display: inline-block
    margin-bottom: 3rem
    border: none !important
  
  .icon-block
    // служебный бэкграунд, облегчает верстку
    // background-color: $color-service-bg
  
    >h2
      padding-top: 2.5rem
      margin-bottom: 1.5rem
    
    >h5
      margin-bottom: 1.25rem
    
    .material-icons
      font-size: 3rem
      color: $color-cyan

.fsite-page-footer
  background-color: $color-footer-bg
  color: $color-light

  .fsite-footer-content
    margin-top: unset
    margin-bottom: unset
    width: 90%
    margin-left: auto
    margin-right: auto
    padding-top: 2rem
    padding-bottom: 1rem

    .about-me p
      color: $color-light-second

    .connect
      display: flex
      flex-direction: column
      margin-bottom: .5rem

      a
        color: $color-light-second
        margin-left: .125rem
  
  .footer-copyright
    background-color: $color-footer-bg

    p
      width: 90%
      margin-left: unset
      margin-right: auto
      margin-top: unset
      margin-bottom: unset
      padding-top: .25rem
      padding-bottom: 0.5rem
      @include respond-to(md)
        margin-left: auto
      
      a
        color: $color-light
        font-weight: 350